* {
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: rgb(129, 38, 129);
    --btn-color: rgb(58, 9, 122);
}
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 20px;
}

.highscore-item {
    color: var(--secondary-color);  
}

.codequiz-container {
    margin: 20px 200px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-item {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.question-item {
    padding:30px 100px;
    text-align: center;

}

button {
    background-color: var(--btn-color);
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    border-radius: 12px;
    width: 18%;
}

button:hover {
    background: var(--secondary-color);
    cursor:pointer;
    
}