* {
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: rgb(129, 38, 129);
    --btn-color: rgb(58, 9, 122);
    --questionBorder-color: rgb(212, 209, 209);
}
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 20px;
}

.highscore-item {
    color: var(--secondary-color);  
}

.codequiz-container {
    margin: 20px 200px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(148, 144, 144); 
}

.title-item {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.question-item {
    padding:30px 100px;
    text-align: center;

}

button {
    background-color: var(--btn-color);
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    border-radius: 12px;
    width: 100%;
}

button:hover {
    background: var(--secondary-color);
    cursor:pointer;
    
}

.answerBtns {
    background-color: var(--btn-color);
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    border-radius: 12px;
    width: 30%;
    margin: 10px 300px 0 10px;
    text-align: left;
}

.answerBtns:hover {
    background: var(--secondary-color);
    cursor:pointer;
    
}

.questionContainer {
    display: inline-block;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

.quizQuestions {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

.answerStatus{
    border-top: 2px solid rgb(148, 144, 144); 
    margin: 40px 0;
    padding-top: 30px;
}

.resultsContainer{
    display: inline-block;
    flex-direction: column;
    align-items: left;
    width: 100%;
    margin: 0;
}


.resultsTitle{
    font-size: 40px;
    font-weight: bold;
}

.finalScore{
    font-size: 30px;
    margin-top:10px;
   

}

.enterInitials{
    margin-top:10px;
}

.spanInit{
    font-size: 30px; 
}
.inputbox{
    margin-left: 10px;
    height: 40px;
    width: 30%;
}
.submitInitialsBtn{
    background-color: var(--btn-color);
    padding: 10px;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    border-radius: 12px;
    width: 15%;
    margin-left: 20px;
    text-align: center;
}
